@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #f8f8f8;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* KEY FIXES START HERE */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block; /* Removes the "Flex" centering */
  background-color: #f8f8f8;
}

#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* KEY FIXES END HERE */

/* General Elements */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}